
<div class=" pt-4 pb-4"> 
    <div class="row ">
        
            <div class="card offset-lg-2 col-lg-2" >
                <div class="card-body">
                  <h5 class="card-title">GSM</h5>
                  <p class="card-text">+90 (220) 222 22 22</p>
                </div>
            </div>

            <div class="card offset-lg-1 col-lg-2" >
                <div class="card-body">
                  <h5 class="card-title">Phone</h5>
                  <p class="card-text">+90 (550) 555 55 55</p>
                </div>
            </div>
            <div class="card offset-lg-1 col-lg-2" >
                <div class="card-body">
                  <h5 class="card-title">E-mail</h5>
                  <p class="card-text">info@company.com</p>
                </div>
            </div>

            
    </div>
    <!-- <div class="card" >
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
    </div> -->

    
    <div class=" pt-4 row">
        <h3 class="offset-lg-5">Location:</h3>
        <div class="card offset-lg-2 col-lg-8">
            <div class="card-body ">
                <p class="card-text">Manisa Celal Bayar Üniversitesi Mühendislik Fakültesi,  
                    Yağcılar Şehit Prof.Dr.İlhan Varank Yerleşkesi,
                    45110 Yunusemre/Manisa
                </p>
            </div>
        </div>
        <iframe class="pt-3 offset-lg-2 col-lg-8" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3114.7911292472477!2d27.304454415670087!3d38.67666806752917!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b98468a5bb0081%3A0x6c639130b682e415!2sManisa%20Celal%20Bayar%20%C3%9Cniversitesi%20M%C3%BChendislik%20Fak%C3%BCltesi!5e0!3m2!1str!2str!4v1636896076482!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    </div>
</div>