    <header class="py-5">
        <div class="container px-lg-5">
            <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                <div class="m-4 m-lg-5">
                    <h1 class="display-5 fw-bold">Welcome!</h1>
                    <p class="fs-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a class="btn btn-primary btn-lg" href="/Appointment">Make Appointment</a>
                </div>
            </div>
        </div>
    </header>

    <section class="pt-4">
        <div class="container px-lg-5">
            <div class="row gx-lg-5">
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                           <img class="img-centered" src="https://user-images.githubusercontent.com/47815793/141747621-7d1e4928-cf6f-447e-be55-92e26143c601.png" alt="">
                            <h2 class="fs-4 fw-bold">Head</h2>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <img class=" img-centered" src="https://user-images.githubusercontent.com/47815793/141748326-1e6c50f5-849d-4627-925e-efb361cbd1bb.png" alt="">
                            <h2 class="fs-4 fw-bold">Head</h2>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <img class="img-centered" src="https://user-images.githubusercontent.com/47815793/141748474-7fc3aa7c-f0c5-43c1-afad-58249654df46.png" alt="">
                            <h2 class="fs-4 fw-bold">Head</h2>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <img class="img-centered" src="https://user-images.githubusercontent.com/47815793/141749903-c3bc9039-d92c-48e3-b945-6522e1edae34.png" alt="">
                            <h2 class="fs-4 fw-bold">Head</h2>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <img class=" img-centered" src="https://user-images.githubusercontent.com/47815793/141750332-183132bb-a1aa-47d7-80b4-a595eac9ccfa.png" alt="">
                            <h2 class="fs-4 fw-bold">Head</h2>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <img class="img-centered" src="https://user-images.githubusercontent.com/47815793/141749802-bc10845e-4fe0-45a6-8c39-47afd385f808.png" alt="">
                            <h2 class="fs-4 fw-bold">Head</h2>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


