<div class="container marketing pt-4 pb-8">
    <div class="row">
      <div class="col-lg-4">
        <img src="https://user-images.githubusercontent.com/47815793/141747621-7d1e4928-cf6f-447e-be55-92e26143c601.png" class="rounded-circle img-centered" style="width: 30%; height: 40%;">

        <h2 class="pt-2 centered">Heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      </div>
      <div class="col-lg-4">
        <img src="https://user-images.githubusercontent.com/47815793/141748326-1e6c50f5-849d-4627-925e-efb361cbd1bb.png" class="rounded-circle img-centered" style="width: 30%; height: 40%;">
        <h2 class="pt-2 centered">Heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      </div>
      <div class="col-lg-4">
        <img src="https://user-images.githubusercontent.com/47815793/141748474-7fc3aa7c-f0c5-43c1-afad-58249654df46.png" class="rounded-circle img-centered" style="width: 30%; height: 40%;">

        <h2 class="pt-2 centered">Heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      </div>
    </div>



    <hr class="featurette-divider my-8">

    <div class="row">
        <div class="col-lg-4">
            <img src="https://user-images.githubusercontent.com/47815793/141749903-c3bc9039-d92c-48e3-b945-6522e1edae34.png" class="rounded-circle img-centered" style="width: 30%; height: 40%;">
            <h2 class="pt-2 centered">Heading</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
        <div class="col-lg-4">
            <img src="https://user-images.githubusercontent.com/47815793/141750332-183132bb-a1aa-47d7-80b4-a595eac9ccfa.png" class="rounded-circle img-centered" style="width: 30%; height: 40%;">
  
          <h2 class="pt-2 centered">Heading</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
        <div class="col-lg-4">
            <img src="https://user-images.githubusercontent.com/47815793/141749802-bc10845e-4fe0-45a6-8c39-47afd385f808.png" class="rounded-circle img-centered" style="width: 30%; height: 40%;">
  
          <h2 class="pt-2 centered">Heading</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
      </div>


  </div>