.pb-8{
    padding-bottom: 5rem;
}
.my-8{
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-bottom: 0.1rem;
    padding-top: 0.1rem;
}
.img-centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.centered{
    text-align: center;
}
