<div class="padding ">
    <div class="container">
        <div class="" >
            <h3 class="col-lg-3 col-md-12 "> Animal Id : {{animalId}} </h3>
        </div>
        <div class="my-3">
          <a href="/vaccinatincard" type="button" class="btn btn-outline-primary col-lg-2 col-md-12 ">Back to Search</a>
          <a href="" type="button" class="btn btn-outline-primary col-lg-2 offset-lg-1 col-md-12 ">Add</a>
        </div>
        
        <table class="table table-secondary table-hover  forcenter ">
            <thead>
              <tr>
                <th class="thdw" >Vaccination name</th>
                <th class="thdw" >Animal Name</th>
                <th class="thdw">Vaccinated</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let vaccinationCard of vaccinationCards">
                <td class="thdw">{{vaccinationCard.vaccinationName}}</td>
                <td class="thdw">{{animalName}}</td>
                <td *ngIf="vaccinationCard.vaccinated" class="thdw"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                  <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                </svg></td>
                <td *ngIf="!vaccinationCard.vaccinated" class="thdw"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                  <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                </svg></td>
              </tr>
        </table>
        <h1 ></h1>
    </div>
</div>

